body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app {
	display: flex;
}

.app > * {
	margin: 0 1rem;
	flex: 1;
}

.info-box {
	display: flex;
	justify-content: space-between;
}

.info {
	display: flex;
	align-items: center;
}

.status {
	background: red;
	border-radius: 100%;
	height: 16px;
	width: 16px;
	margin: 0 0.5rem;
}

.status.success {
	background: lawngreen;
}
